<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<!--suppress ALL -->
<mapper namespace="org.itstep.repository.StockRepository">

    <insert id="save">
        INSERT INTO stock (product_id, warehouse_id, qty)
        VALUES (#{product.id}, #{warehouse.id}, #{count}) ON DUPLICATE KEY
        UPDATE qty = #{count}
    </insert>

    <sql id="stock-select-request">
        SELECT
        p.id AS p_id,
        p.name AS p_name,
        p.sku AS p_sku,
        w.id AS w_id,
        w.name AS w_name,
        s.qty
        FROM stock s
        LEFT JOIN product p ON s.product_id = p.id
        LEFT JOIN warehouse w ON s.warehouse_id = w.id
    </sql>

    <select id="findStockByWarehouse" resultMap="StockMap" parameterType="Warehouse">
        <include refid="stock-select-request"/>
        WHERE w.id = #{id}
    </select>

    <select id="findStockByWarehouseAndProduct" resultMap="StockMap">
        <include refid="stock-select-request"/>
        WHERE w.id = #{warehouseId} AND p.id = #{productId}
    </select>

    <resultMap id="StockMap" type="Stock">
        <result property="count" column="qty"/>
        <association property="product" columnPrefix="p_" javaType="Product">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sku" column="sku"/>
        </association>
        <association property="warehouse" columnPrefix="w_" javaType="Warehouse">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
</mapper>